@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-section{
     background-image: 
    url(./SiteImages/zameenBg.webp);
    background-position: center;
    background-size: cover;
}
.firstCommunityImg,.secondCommunityImg,.thirdCommunityImg{
  background-position: center;
  background-size: cover;
}
.firstCommunityImg{
  background-image: url(./SiteImages/community-1.webp);
}
.secondCommunityImg{
  background-image: url(./SiteImages/secondCommunity.jpeg);
}
.thirdCommunityImg{
  background-image: url(./SiteImages/thirdCommuinity.jpg);
}
.contractImg{
/* background-image: url(./SiteImages/Contract-img.webp); */
 background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Forward animation */
.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}

/* Reverse animation */
.animate-marquee-reverse {
  display: flex;
  animation: marquee-reverse 25s linear infinite;
}

